.content {
    /* background-color: antiquewhite; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
    padding: 25px;
}

.content h1 {
    text-align: center;
}

.box-img {
    border: solid rgb(151, 151, 151) 1px;
    border-radius: 15px;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 242, 250, 1);
    width: 97%;
    height: 234px;
}

.box-input {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
    /* height: 100%; */
    width: 95%;
    gap: 90px;
    padding: 10px;

}

.left {
    /* background-color: antiquewhite; */
    /* padding: 20px; */
    /* border: solid 1px rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 60%;

}

.left input {
    /* box-shadow:  1px 1px rgba(0, 0, 0, 0.5); */
    height: 50px;
    border-radius: 10px;
    border: solid rgb(151, 151, 151) 1px;
    background-color: rgba(247, 242, 250, 1);
    padding-left: 10px;
    /* ขยับข้อความไปทางขวา */
}

.right {
    padding: 15px;
    border: solid rgb(151, 151, 151) 1px;
    background-color: rgba(247, 242, 250, 1);
    width: 30%;
    height: 250px;
    border-radius: 28px;
}

.line {
    width: 94%;
    border: 1px solid rgb(119, 118, 118);
}

.button-create {
    cursor: pointer;
    box-shadow: 10px rgba(0, 0, 0, 0.5);
    border: solid 0px;
    font-size: 32px;
    color: #ffffff;
    margin-top: 20px;
    width: 326px;
    height: 63px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #114201 -90%, #2BA803);
}

.footer-button {
    padding-top: 10px;
    display: flex;
    justify-content: space-between; /* ปรับการจัดวาง */
    align-items: center;
    
}
.title {
    border-bottom: solid rgb(151, 151, 151) 1px; /* เพิ่มระยะห่างระหว่างข้อความกับเส้นใต้ */
}

.title-top{
    padding-bottom: 30px;
}


.input-date{
    width: 45%;
    height: 50px;
    border: solid rgb(151, 151, 151) 1px;
    border-radius: 10px;
    background-color: rgba(247, 242, 250, 1);
}

.input-date:hover{
    width: 45%;
    height: 50px;
    border: solid #65558F 4px;
    border-radius: 10px;
    background-color: rgba(247, 242, 250, 1);
}

.between-input{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.bottom-text{
    width: 80px;
    color: #65558F;
}

.bottom-text:hover{
    width: 80px;
    color: #a24fa5;
}

.button-flex{
    display: flex;
    text-align: right;  
}

.uploaded-image{
    display: flex;
    height: 230px;
}
  