<div class="content">
    <div class="total">
        <h2>Current Activities</h2>

        <!-- ตรวจสอบสถานะ loading -->
        <div *ngIf="loading">Loading...</div>

        <!-- ถ้าไม่ loading และมีข้อมูลให้แสดงกิจกรรม -->
        <div *ngIf="!loading && activities.length > 0">
            <div *ngFor="let activity of activities" class="data">
                <div class="box" (click)="navigateToSignup(activity.activityId)">
                    <img [src]="activity.activityImageUrl" alt="{{ activity.activityName }}">
                    <div class="discipstion">
                        <h3>{{ activity.activityName }}</h3>
                        <p>{{ activity.activityDescriptions }}</p>
                    </div>
                </div>
                
                <button (click)="navigateToDonation(activity.activityId)">Donation</button>
                <div class="line"></div>
            </div>
        </div>

        <!-- ถ้าไม่มีข้อมูลกิจกรรม -->
        <div *ngIf="!loading && activities.length === 0">
            <p>No activities available.</p>
        </div>
    </div>
</div>
