<app-search></app-search>

<div class="dtn">
  <div *ngIf="loading" class="loading-overlay">
    <mat-spinner></mat-spinner>
  </div>
    <h2 style="text-align:center;">Volunteer List</h2>
<table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Tel.</th>
        <!-- <th>Date</th> -->
      
        <th>Emergency Contact</th>
      </tr>
    </thead>
    <tbody>
       <!-- วนลูปเพื่อแสดงข้อมูลอาสาสมัคร -->
       <tr *ngFor="let activity of activities">
        <td>{{ activity.id }}</td> <!-- ใช้ id จาก activity แทนหมายเลขลำดับ -->
        <td>{{ activity.firstName }} {{ activity.lastName }}</td> <!-- ชื่อและนามสกุล -->
        <td>{{ activity.phoneNumber }}</td> <!-- เบอร์โทร -->
        <td>{{ activity.emergencyContact }}</td> <!-- เบอร์โทรฉุกเฉิน -->
      </tr>
    </tbody>
  </table>
</div>