<div class="activity-f">



    <div class="data-c">
        <div class="img-event">
            <img src="../../../assets/imgs/active/activity-closed/person.png" alt="Description of image">
        </div>



        <div class="head">
            <div class="left">
                <h3>VDEG’s 9th Volunteer Camp</h3>
            </div>

            <div class="right">
                <h3>50/50</h3>
            </div>

        </div>

        <div class="dis">
            <span>Activity Details</span>
            <br>
            <span>
                VDEG’s 9th Volunteer Camp is being held at Phagae Primary School.
                <br>Date : March 16 - 22nd 2023
                <br>There will be ice breaking activities, painting, and other activities that we will share during the
                opening ceromony.
            </span>
        </div>

        <div class="sumdata">
            <div class="summer">
                <span>Activity Summery</span>

            </div>

            <!-- <div class="sm-da">
                <span>Media and Props Department :</span>
                <p>
                
                    จัดทำบอร์ด 6 บอร์ด
                    บอร์ดความรู้เรื่องโรคติดต่อ 1 บอร์ด
                    บอร์ดเปล่า สำหรับใส่ผลงานนักเรียน 5 บอร์ด
                    ทุกบอร์ดทำการคลุมแผ่นใส
                    รื้อบอร์ด 1 บอร์ด
                </p>
            </div> -->
            <div class="griditem">
                <div class="text1">
                    <span>Media and Props Department : </span>
                    <p>จัดทำบอร์ด  6 บอร์ด
                        บอร์ดความรู้เรื่องโรคติดต่อ 1 บอร์ด
                        บอร์ดเปล่า สำหรับใส่ผลงานนักเรียน 5 บอร์ด
                        ทุกบอร์ดทำการคลุมแผ่นใส
                        รื้อบอร์ด 1 บอร์ด</p>
                </div>
                <div class="text2">
                    <span>Cons :</span>
                    <p>ยุงและแมลงเยอะ
                        มีบุคคลภายนอกเข้ามาในโรงเรียน
                        ที่นอนไม่เพียงพอ ทำให้ผู้ชายและผู้หญิงบางส่วนมานอนบริเวณลานประชุม
                        ปัญหาการรักษาความสะอาด
                        ชาวค่ายไม่ตรงต่อเวลา
                        ชาวค่ายแต่งตัวไม่สุภาพ
                        ชาวค่ายไม่ตระหนักในหน้าที่ที่ตนเองได้รับมอบหมาย
                        พฤติกรรมเชิงชู้สาวที่เตือนไปแล้วแต่ก็ยังพบอยู่
                        พฤติกรรมในการทำงานและนอกเหนือเวลางานที่สื่อไปในทางชู้สาวใกล้ชิดกันมากเกินไป จนเกินงาม ทำการตักเตือนไปแล้วแต่ยังพบอยู่
                        ห้องน้ำไม่เพียงพอ
                        แสงสว่างไม่เพียงพอ</p>
                </div>
            </div>
            <div class="griditem">
                <div class="text1">
                    <span>Location Department : </span>
                    <p>ทาสีโรงอาหาร
                        ขัดสีเก่าออกจากผนังโรงอาหารด้านนอก
                        ทารองพื้น 2 รอบ
                        ทาสีจริงสีขาว 2 รอบ
                        ทาสีเขียวตัดบริเวณด้านล่าง 50 เซนติเมตร
                        ทาสีน้ำมันสีขาวบริเวณประตูเหล็กทางเข้าโรงอาหาร
                        ทาสีน้ำมันสีขาวบริเวณระแนงเหล็กหน้าโรงอาหาร
                        BBL
                        ขัด 2-3 รอบ
                        เปลี่ยนยางที่บุบเป็นยางใหม่
                        ลงสีน้ำมันสองรอบ
                        ถางหญ้าและเก็บเศษขยะ
                        สนามเด็กเล็ก
                        ขัดผนังและกำแพงบริเวณสนามเด็กเล็ก
                        ทาสีรองพื้นผนังและกำแพง 2 รอบ
                        ทาสีเขียวตัดด้านล่าง 45 เซนติเมตร
                        ทาสีน้ำมันบริเวณเครื่องเล่น</p>
                </div>
                <div class="text2">
                    <span>Problems Faced :</span>
                    <p>การประสานงานกับผู้มีประสบการณ์ภายในค่ายน้อยเกินไป
                        ปัญหาการสื่อสารที่ไม่เข้าใจกัน ทำให้การทำงานไม่เป็นไปตามแผน
                        สภาพอากาศร้อน
                        ไม่มีการวาง Action Plan ทำให้มีปัญหาในการทำงาน</p>
                </div>
            </div>
            <div class="item">
                <div class="text2">
                    <span>Solution to Problems :</span>
                    <p>ประสานงานและรับฟังคำปรึกษาจากผู้มีประสบการณ์ในค่ายให้มากขึ้น
                        นำข้อิดผลาดมาปรับปรุงแก้ไขและพัฒนาในครั้งถัดไป
                        ปรับแผนให้ชาวค่ายที่ทำงานกลางแจ้งให้เข้ามาพักในลานประชุม
                        ประชุมและจัดทำ Action Plan ในวันถัดไป</p>
                </div>
            </div>
        </div>
    </div>


    <!-- <app-closed-form></app-closed-form> -->





    <div class="dtn">
        <h2 style="text-align:center;">Activity List</h2>
    <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>item</th>
            <th>Given</th>
            <th>User</th>
            <th>Remaining Budget</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activities; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ activity.item }}</td>
            <td>{{ activity.given }}</td>
            <td>{{activity.use}}</td>
            <td>{{activity.remaining}}</td>

            <!-- <td>
              <label class="switch">
                <input type="checkbox" [(ngModel)]="activity.status" />
                <span class="slider round"></span>
              </label>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>

</div>