<div *ngIf="activity">
    <img class="backicon" src="../../../../assets/imgs/active/activity-files/backicon.svg" alt="" srcset="">
    <h2 class="heading-text">VDEG’s 9th SponsorList</h2>
    <div class="sponsors">
        <!-- Loop through sponsors and display each image -->
        <div *ngFor="let sponsor of activity.sponsors">
            <img [src]="sponsor" alt="Sponsor Image" width="150px" height="100px">
        </div>
    </div>
</div>

<!-- Loading indicator -->
<div *ngIf="loading">Loading...</div>