<div class="activity-f">



    <div class="data-c">
        <div class="img-event">
            <img src="../../../assets/imgs/active/activity-closed/person.png" alt="Description of image">
        </div>



        <div class="head">
            <div class="left">
                <h3>VDEG’s 9th Volunteer Camp</h3>
            </div>

            <div class="right">
                <h3>50/50</h3>
            </div>

        </div>

        <div class="dis">
            <span>Activity Details</span>
            <br>
            <span>
                VDEG’s 9th Volunteer Camp is being held at Phagae Primary School.
                <br>Date : March 16 - 22nd 2023
                <br>There will be ice breaking activities, painting, and other activities that we will share during the
                opening ceromony.
            </span>
        </div>
    </div>
    <!-- <ng-template #defaultImage>
        <img src="../../../../../../assets/imgs/admin/activityCreation/iconimg.svg" alt="Upload Image"
            >
    </ng-template> -->
    <div class="ac-t">
        <h3>Activity Summary</h3>
        <div class="boximg">
           <img src="../../../assets/imgs/active/activity-infor/typcn_plus.png" alt="">
            <p>Add Summary</p>
        </div>
    </div>
    <div class="ac-t1">
        <h3>Budget Summary</h3>
        <div class="boximg1">
           <img src="../../../assets/imgs/active/activity-infor/typcn_plus.png" alt="">
            <p>Add Summary</p>
        </div>
    </div>
    
 </div>