<div class="closed">
   

    
    <div class="data-c">
        <div class="img-event">
            <img src="../../../assets/imgs/active/activity-closed/person.png" alt="Description of image">
        </div>



        <div class="head">
            <div class="left">
                <h3>VDEG’s 9th Volunteer Camp</h3>
            </div>
            
            <div class="right">
                <h3>50/50</h3>
            </div>

        </div>

        <div class="dis">
            <span>Activity Details</span>
            <br>
            <span>
                VDEG’s 9th Volunteer Camp is being held at Phagae Primary School.
                <br>Date : March 16 - 22nd 2023
                <br>There will be ice breaking activities, painting, and other activities that we will share during the
                opening ceromony.
            </span>
        </div>


    </div>


<!-- <app-closed-form></app-closed-form> -->


<div class="content">
    <div class="data">
        <h1>THIS FORM HAS BEEN CLOSED BY ADMIN</h1>


        <button>Volunteer List</button>
    </div>
    
</div>



</div>